extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    level: warning
  comments:
    min-spaces-from-content: 1
    level: warning
  document-start:
    present: true
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
    level: warning

ignore: |
  monitoring/grafana/datasources/prometheus.yml
